
cache/*
!cache/.ignore

log/*
!log/.ignore

lib/model/om/*
lib/model/map/*
lib/form/base/*
lib/filter/base/*

plugins/sfGuardPlugin/lib/model/map/*
plugins/sfGuardPlugin/lib/model/om/*
plugins/sfGuardPlugin/lib/form/base/*
plugins/sfGuardPlugin/lib/filter/base/*

plugins/rtPayuPlugin/lib/model/map/*
plugins/rtPayuPlugin/lib/model/om/*
plugins/rtPayuPlugin/lib/form/base/*
plugins/rtPayuPlugin/lib/filter/base/*

web/sf
