/* globals */
html, body { font-family: helvetica,arial,sans; font-size: 10pt; }
* { padding: 0; margin: 0 }
.hidden { display: none; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.center { text-align: center; }
.error_list { color: red; }
.error_list li { list-style-type: none; margin: 2px 0 0 0; }
.notice { margin: 4px 0; padding: 4px 4px 4px 30px; background: url(../images/tick.png) no-repeat 10px 4px; border: 1px solid #ddd; background-color: #ffc; }
.error { margin: 4px 0; padding: 4px 4px 4px 30px; background: url(../images/error.png) no-repeat 10px 4px; border: 1px solid #ddd; background-color: #f33;  color: #fff; }
a { text-decoration: none; }
th, td { vertical-align: top; }
form tbody th { text-align: right; }
form tfoot td { text-align: right; }
form li { list-style-type: none; }
form th label { display: block; width: 120px; margin-right: 4px; }
/* globals */

/* layout */
header { background: #000; color: #FFF; padding: 4px; }
header a { color: #FFF; }
#menu li { float: left; padding-right: 20px; }
#content { padding: 4px; }
footer { padding: 2px 0; font-size: 9pt; color: #666; text-align: center; border-top: 1px solid #DDD; }
/* layout */

/* registration page */
#register { width: 770px; margin: 10px auto; }
#register fieldset { padding: 0.2em; margin-bottom: 0.5em; border-color: #F0F0F0; border-radius: 5px; }
#register th,
#register td { padding: 2px; }
#register th { width: 150px; text-align: right; }
#register table input { width: 200px; }
/* registration page */
